<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Cool Items</h1>
      <h2 class="subtitle">Yep, this is cool</h2>
    </div>
  </div>
</section>


<nav class="nav">
  <div class="nav-left">
    <a href="/#/" class="nav-item">List</a>
    <a href="/#/add" class="nav-item">Add Item</a>
  </div>
</nav>


<section class="section" ui-view></section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; 2016: My Cool Website</p>
    </div>
  </div>
</footer>
